/* intuitivnejsi box-sizing */
*,
:after,
:before {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.blok {
  padding: 20px;
}

.horni {
  background-color: #f1c40f;
}
.prvni {
  background-color: #2ecc71;
}
.druhy {
  background-color: #e74c3c;
}
.treti {
  background-color: #8e44ad;
}

/* ---------------------------------------------------- */

/*
	Nakóduj stránku podle obrázku zadani-ukolu.jpg.
	Rozložení stránky se mění v breakpointech:
	- 640px
	- 1000px
*/

/* výchozí nastavení */
  .kontejner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* BP 640px */
  @media (min-width: 640px) {
  .kontejner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .horni {
    width: 100%;
  }

  .prvni,
  .druhy {
    width: 50%;
  }
  }
/* BP 1000px */
  @media (min-width: 1000px) {
    .kontejner {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .horni {
      width: 100%;
    }
  
    .prvni,
    .druhy,
    .treti {
      width: 30%;
      flex-grow: 1;
    }
    }